.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 100%;
    padding: 4rem;
    section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        cursor: pointer;
        overflow: hidden;
        
        .figure{
            position: relative;
            transition: all 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover{
            background-color: #3a9663;
            border-radius: 10px;
        }
        &:hover figure{
            width: 100%;
            transform: scale(1.1);
        }
        h2{
            color: rgb(74, 73, 73);
            margin-top: 2rem;
        }
        p{
            color: rgb(74, 73, 73);
            text-align: center;
            margin-top: 1rem;
            line-height: 2;
            font-size: 14px;
        }

    }
}