@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background: url(../img/fondo.jpg); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #4a4949; }

img {
  width: 100%;
  border-radius: 5px;
  height: auto;
  padding: 10px; }

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto; }

.titulo-servicios, .presentacion {
  margin-bottom: 10%; }

h1 {
  text-align: center;
  font-size: 3rem; }

p {
  font-size: 1.8rem;
  color: #4a4949; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms; }
  .btn:hover, .btn-principal:hover, .btn-secundario:hover {
    transform: scale(1.1); }

.btn-principal {
  color: #fff;
  background-color: #6495ED; }

.btn-secundario {
  background-color: #b3afaf; }

.logo {
  width: 75px;
  height: 75px; }

.header {
  position: fixed;
  top: 0;
  border-top: 30px solid #343533;
  width: 100%; }

.wrapper {
  padding-top: 50px;
  padding-bottom: 25px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  nav ul {
    display: flex;
    padding: 0; }
    nav ul a {
      padding: 10px;
      font-size: 1.6rem;
      font-weight: bold; }
    nav ul a:hover {
      color: #6495ED;
      transform: scale(1.1); }

.presentaci贸n {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .presentaci贸n .flex-item2 {
    text-align: center; }
  .presentaci贸n h1 {
    margin-top: 0;
    padding-right: 20px;
    font-size: 3rem; }
  .presentaci贸n p {
    padding-right: 20px;
    padding-bottom: 10px; }

.servicios div {
  text-align: center; }

.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.social {
  margin: 50px; }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px; }
  .social div.links {
    display: flex;
    align-items: center;
    justify-content: center; }
    .social div.links a {
      margin: 0 30px; }
    .social div.links i {
      font-size: 3rem; }

footer {
  min-height: 80px;
  background-color: #343533;
  margin-top: 0; }
  footer .footer-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }

form {
  width: 450px;
  margin: auto;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  font-family: monospace; }
  form h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none; }
  form label {
    font-size: 14px;
    background-color: #fff; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

.carouselExampleControls {
  justify-items: center;
  align-items: center; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  padding: 4rem; }
  .container section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    cursor: pointer;
    overflow: hidden; }
    .container section .figure {
      position: relative;
      transition: all 0.4s;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container section:hover {
      background-color: #3a9663;
      border-radius: 10px; }
    .container section:hover figure {
      width: 100%;
      transform: scale(1.1); }
    .container section h2 {
      color: #4a4949;
      margin-top: 2rem; }
    .container section p {
      color: #4a4949;
      text-align: center;
      margin-top: 1rem;
      line-height: 2;
      font-size: 14px; }

.about-section {
  background: url(../img/au.jpg) no-repeat right;
  background-size: 50%;
  background-color: #b6d5ae;
  overflow: hidden; }
  .about-section .inner-container {
    width: 55%;
    float: left;
    background-color: #b6d5ae;
    padding: 30px; }
    .about-section .inner-container h1 {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 900; }
    .about-section .inner-container p {
      font-size: 15px;
      color: #4a4949;
      line-height: 30px;
      text-align: justify;
      margin-bottom: 40px; }
    .about-section .inner-container .skills {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 13px; }

@media (min-width: 1400px) {
  nav, .servicios, .footer-content, .presentacion, .container, .about-section {
    width: 60%;
    margin: auto; } }

@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    flex-direction: column; }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px; }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px; }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px; } }

@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px; }
    .presentacion div h1, .presentacion div p {
      padding: 0; } }

@media (max-width: 480px) {
  form {
    width: 100%; } }
